{% extends 'baseAdmin.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static './analytics.css' %}">
{% endblock css %}

{% block body %}
    <div class="mainWrapper">
        <div class="container">
            <div class="topHeading pt-4">
                <p class="analHead">Analytics</p>
            </div>

            <div class="topAnal row">
                <div class="col-4">
                    <div class="card">
                        <div class="topCard p-3">
                            <p class="totalText">TOTAL INCOME</p>
                            <p class="totalAmount">&#8377; {{ totalAmount }}</p>
                            <div class="icon-green">
                                <span class="iconify" data-icon="akar-icons:arrow-up-right"></span>
                            </div>
                        </div>
                        <div class="bottomCard">
                            <p class="summary text-center">SUMMARY - <span class="increase"> 20% INCREASE </span> COMPARED TO LAST WEEK </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="topCard p-3">
                            <p class="totalText">Total Visitor</p>
                            <p class="totalAmount">{{ totalBookings }}</p>
                            <div class="icon-green">
                                <span class="iconify" data-icon="akar-icons:arrow-up-right"></span>
                            </div>
                        </div>
                        <div class="bottomCard">
                            <p class="summary text-center">SUMMARY - <span class="increase"> 20% INCREASE </span> COMPARED TO LAST WEEK </p>
                        </div>
                    </div>
                </div>

                {% comment %} <div class="col-4">
                    <div class="card">
                        <div class="topCard p-3">
                            <p class="totalText">TOTAL INCOME</p>
                            <p class="totalAmount">&#8377; 0.00</p>
                            <div class="icon-green">
                                <span class="iconify" data-icon="akar-icons:arrow-up-right"></span>
                            </div>
                        </div>
                        <div class="bottomCard">
                            <p class="summary text-center">SUMMARY - <span class="increase"> 20% INCREASE </span> COMPARED TO LAST WEEK </p>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>

            <div class="row">
                <div class="col-7">
                    <canvas id="myChart" class="pt-4" style="width:100%"></canvas>
                </div>

                {% comment %} <div class="col-5">
                    <canvas id="myChart1" style="width:100%"></canvas>
                </div> {% endcomment %}
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        var xValues = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30];
        var yValues = [7,8,8,9,9,9,10,11,14,14,15];
        
        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              fill: false,
              lineTension: 0,
              backgroundColor: "rgba(0,0,255,1.0)",
              borderColor: "rgba(0,0,255,0.1)",
              data: yValues
            }]
          },
          options: {
            legend: {display: false},
            scales: {
              yAxes: [{ticks: {min: 6, max:16}}],
            }
          }
        });


         {% comment %} var xValues1 = ["Haircut", "Facial", "Spa", "Makeup", "Styling"];
        var yValues1 = [55, 49, 44, 24, 15];
        var barColors1 = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
        ];

        new Chart("myChart1", {
        type: "doughnut",
        data: {
            labels: xValues1,
            datasets: [{
            backgroundColor: barColors1,
            data: yValues1
            }]
        },
        options: {
            title: {
            display: true,
            text: ""
            }
        }
        }); {% endcomment %}
        </script>
        
{% endblock body %}
    