{% extends 'baseAdmin.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static './offers.css' %}">
{% endblock css %}


{% block body %}
    <div class="mainWrapper">
        <div class="container">
            <div class="topHeading pt-4">
                <p class="analHead">INVOICES</p>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">PHONE</th>
                      <th scope="col">EMAIL</th>
                      <th scope="col">VISITS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>1234567890</td>
                      <td>mark@gmail.com</td>
                      <td>5</td>
 
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>19</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>9</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>21</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>11</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>21</td>

                      </tr>


                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>7</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>9</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>2</td>

                      </tr>


                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>39</td>
 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>19</td>

                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>41</td>

                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>mark@gmail.com</td>
                        <td>9</td>

                      </tr>
                  </tbody>
              </table>
        </div>
    </div>

    {% endblock body %}
   