{% extends 'baseAdmin.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static './offers.css' %}">
{% endblock css %}

{% block body %}
    <div class="mainWrapper">
        <div class="container">
            <div class="topHeading pt-4">
                <p class="analHead">INVOICES</p>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">PHONE</th>
                      <th scope="col">SERVICE</th>
                      <th scope="col">DATE</th>
                      <th scope="col">AMOUNT</th>
                      <th scope="col">DOWNLOAD</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for invoice in bookings %}
                    
                    <tr>
                      <th scope="row">{{ invoice.bId }}</th>
                      <td>{{ invoice.customer.name }}</td>
                      <td>{{ invoice.customer.phone }}</td>
                      <td>{{ invoice.service.name }}</td>
                      <td>{{ invoice.dateCreated}}</td>
                      <td>RS.{{ invoice.service.price }}</td>
                      <td><a href="/invoiceGen/{{ invoice.bId }}" class="btn btn-primary">View</a></td> 
                    </tr>

                    {% endfor %}
                   
                  </tbody>
              </table>
        </div>
    </div>
    {% endblock body %}