{% extends 'baseAdmin.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static './offers.css' %}">
{% endblock css %}

{% block body %}
    <div class="mainWrapper">
        <div class="container">
            <div class="topHeading pt-4">
                <p class="analHead">INVOICES</p>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">PHONE</th>
                      <th scope="col">SERVICE</th>
                      <th scope="col">DATE</th>
                      <th scope="col">AMOUNT</th>
                      <th scope="col">DOWNLOAD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>1234567890</td>
                      <td>HAIRCUT</td>
                      <td>12/12/2019</td>
                      <td>RS.100</td>
                      <td><a href="" class="btn btn-primary">Download</a></td> 
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>


                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>


                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>

                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>1234567890</td>
                        <td>HAIRCUT</td>
                        <td>12/12/2019</td>
                        <td>RS.100</td>
                        <td><a href="" class="btn btn-primary">Download</a></td> 
                      </tr>
                  </tbody>
              </table>
        </div>
    </div>
    {% endblock body %}