{% extends 'baseAdmin.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static './offers.css' %}">
{% endblock css %}

{% block body %}
    <div class="mainWrapper">
        <div class="container">
            <div class="topHeading pt-4">
                <p class="analHead">INVOICES</p>
            </div>

            <!-- <div class="newForm">
              <form action="" method="post">
                
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="Name"  class="form-control border-0 mt-2">
                    </div>
                    <div class="col-6">
                      <input type="text" placeholder="Phone" class="form-control border-0 mt-2">
                    </div>
                    <div class="col-6">  
                      <input type="text" placeholder="Service" class="form-control border-0 mt-2">
                    </div>
                    <div class="col-6">
                      <input type="text" placeholder="Price" class="form-control border-0 mt-2">
                    </div>
                  </div>
                  <button type="submit" class="my-3 btn btn-primary"> &nbsp;&nbsp; Add &nbsp;&nbsp;  </button>
                </div>

              </form>
            </div> -->
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">PHONE</th>
                      <th scope="col">SERVICE</th>
                      <th scope="col">DATE</th>
                      <th scope="col">AMOUNT</th>
                      <th scope="col">DOWNLOAD</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for invoice in bookings %}
                    
                    <tr>
                      <th scope="row">{{ invoice.bId }}</th>
                      <td>{{ invoice.customer.name }}</td>
                      <td>{{ invoice.customer.phone }}</td>
                      <td>{{ invoice.service.name }}</td>
                      <td>{{ invoice.bookingDate}}</td>
                      <td>RS.{{ invoice.service.price }}</td>
                      <td><a href="/invoiceGen/{{ invoice.bId }}" class="btn btn-primary">View</a></td> 
                    </tr>

                    {% endfor %}
                   
                  </tbody>
              </table>
        </div>
    </div>
    {% endblock body %}