{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static './shop.css' %}">

{% endblock css %}


{% block body %}


<div class="container">
    {% if prods %}
        <div class="row">
            {% for products in prods %}
                <div class="col-3">
                    <div class="prodCard my-3">
                        <img src="/{{ products.image }}" class="proImage" alt="">
                        <div class="prodCard-info mt-2  ">
                            <p class="prodName accentText"> {{ products.name }} </p>
                            <p class="prodBrand"> {{ products.brandName}} </p>
                            <p class="prodPrice">&#8377; {{ products.price }}</p>
                            <div class="d-flex justify-content-center">
                                <a href="/checkout/{{products.pId}}" class="addtoCbtn text-center my-2 btn-orange btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            

        </div>

    {% else %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">No Products Found</h1>
            </div>
        </div>
    {% endif %}
</div>

<script>
    // when add to cart button is clicked add the product and price to local storage cart
    
</script>

{% endblock body %}